body {
    font-family: "Poppins",  sans-serif;
    margin: 0;
    background-color: #fff8f5;
    color: #333;
    line-height: 1.7;
}

header {
    background-color: #ffb6c1;
    color: black;
    text-align: center;
    padding: 1.5rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    border-bottom: 2px solid #222;
    padding-bottom: 10px;
}

.about-content {
    display: flex;
    align-items: cener;
    gap: 20px;
    flex-wrap: wrap;
}

.profile-img {
  width: 120px;        
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
}

.work-item {
    background: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s, ease, box-shadow 0.3s ease;
}

.work-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.works-container {
    display: flex;
    text-align: left;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.x-link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    background: white;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.x-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.x-logo {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

footer {
    background: #ffb6c1;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
    font-weight: 600
}